@model Dominio.Retira

@{
    ViewData["Title"] = "Crear Retira";
}

<h4 style="color:dimgray" class="text-center">
    <b style="color:darkgreen">
        Asignar Donante <i class="fa-solid fa-arrow-right"></i>
        Asignar Responsable  <i class="fa-solid fa-arrow-right"></i>
    </b>
    <b style="color:black">Asignar Retira<i class="fa-solid fa-arrow-right"></i>
    </b>
    Finalizar Solicitud
</h4>

<hr />
<div class="row justify-content-center align-items-center ">
    <div class="col-md-4 border">
        @if (TempData["Status"] != null)
        {

            if ((bool)TempData["Status"] == true)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["Mensaje"].ToString()
                </div>
            }
            else if ((bool)TempData["Status"] == false)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["Mensaje"].ToString()
                </div>
            }
        }
        <hr />
        <form asp-action="AltaRetira">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h2>Buscar retira ya existente</h2>

                @if (ViewBag.Retiran.Count == 0)
                {
                    <label>No hay personas que retiran existentes actualmente</label>
                }
                else
                {
                    <input type="text" list="cols" name="SelRet" class="form-control" placeholder="Buscar Retira..." autocomplete="off" />
                    <datalist id="cols">
                        @for (int i = 0; i < ViewBag.Retiran.Count; i++)
                        {
                            <option value="@ViewBag.Retiran[i].Id">@ViewBag.Retiran[i].Nombre</option>
                        }
                    </datalist>
                }
                <br />
                <input type="submit" value="Siguiente" class="btn btn-danger" />
            </div>
            <a asp-action="AltaRetiraPasos" class="btn btn-danger">Crear Retira</a>
        </form>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
