@{
    ViewData["Title"] = "CrearSolicitud";
}

<h1>CrearSolicitud</h1>

<div class="container-fluid">
    <button value="1" asp-action="ElegirSolicitud">Crear nueva solicitud</button>
    <button value="2" asp-action="ElegirSolicitud">Seguir con solicitud pre-cargada</button>
</div>
