@model Dominio.TipoColaborador

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h4 class="text-center">Tipo Donante: Detalles</h4>
    <div class="p-3 mb-2 bg-secondary text-white">Nombre: @Html.DisplayFor(model => model.Nombre)</div>

    <div class="align-content-end text-right">
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
        <a asp-action="Index">Volver al Listado</a>
    </div>
</div>

